.menu {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #fff;
  align-items: center;
  padding: 0 12px;
}

.menu button {
  background-color: transparent;
  color: #fccd07;
  border: none;
  cursor: pointer;
}

.menu-lateral {
  height: 100vh;
  width: 200px;
  background-color: #fff;
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
}

.menu .login {
  padding: 8px 16px;
  background-color: #fccd07;
  color: #333;
  border-radius: 5px;
}

.menu .logo {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.menu .marca {
  font-weight: bold;
  font-size: 20px;
}

.menu-lateral ul li:hover {
  color: #fccd07;
}