/* style.css */
.menu {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #fff;
  align-items: center;
  padding: 0 12px;
}

.menu button {
  background-color: transparent;
  color: #fccd07;
  border: none;
  cursor: pointer;
}

.menu_lateral {
  height: 100vh;
  width: 200px;
  background-color: #fff;
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Certifique-se de que o menu lateral tenha um z-index alto */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.menu_lateral ul {
  padding: 0;
}

.menu_lateral ul li {
  list-style: none;
  padding: 10px 0;
}

.menu_lateral ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
}

.menu_lateral ul li a:hover {
  color: #fccd07;
}

.menu .login {
  padding: 8px 16px;
  background-color: #fccd07;
  color: #333;
  border-radius: 5px;
}

.menu .logo {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.menu .marca {
  font-weight: bold;
  font-size: 20px;
}

/* Novo CSS para a sobreposição de fundo */
.menu_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; /* Certifique-se de que o overlay tenha um z-index menor que o menu lateral */
}
